{% extends '_layout.jinja2' %}

{% block content %}
  <article class="coverboard">
    <h2>Presenting PyConFR 2026!</h2>

    <aside>
      <span>16</span><sup>th</sup> edition
    </aside>

    <p class="pycon-date">October 29<sup>th</sup> – November 1<sup>st</sup> 2026 at Biarritz</p>

    <p>
      Organized by <a href="https://www.afpy.org">AFPy</a>, this four-day conference is free,
      entirely coordinated by volunteers and dedicated to bringing
      together people interested by the <a href="https://www.python.org/">Python</a> programming language.
    </p>

    <ul class="buttons">
      <li>
        <a href="https://cfp.pycon.fr/pyconfr-2026/cfp">Submit a proposal</a>
      </li>
    </ul>
  </article>
  <p><small>Picture by <a href="https://commons.wikimedia.org/wiki/File:Vue_sur_la_Villa_Belza_et_la_chaine_pyr%C3%A9n%C3%A9enne.jpg">Arno8892</a> under CC-BY-SA license.</small></p>

  <article class="place">
    <h2>Venue</h2>

    <section>
      <img src="{{ url_for('static', filename='images/partners/estia.png') }}" alt="" />
      <address><strong>ESTIA engineering school</strong>
        ESTIA BERRI​
        Site technopolitain Izarbel​
        90 Allée Fauste d’Elhuyar​
        64210 BIDART - FRANCE
      </address>
      <ul class="buttons">
        <li>
          <a href="{{ url_for('page', name='venue', lang=lang) }}">
            More Details
          </a>
        </li>
      </ul>
    </section>

    <section>
      {{ map() }}
    </section>
  </article>

  <article class="afpy">
    <h2>AFPy, Association Francophone Python</h2>

    <ul class="buttons">
      <li>
        <a href="https://www.afpy.org">Our website</a>
      </li>
    </ul>

    <section>
      <h3>
        AFPy promotes the Python language, both to the informed public and to beginners.
      </h3>
      <p>
        We promote the Python programming language to the widest possible
        audience.
      </p>
      <p>
        We diffuse our knowledge and are open to external contributions.
      </p>
      <p>
        Solidarity and democracy increase the potential of each one of us.
      </p>
    </section>
  </article>

  <article class="become-sponsor">
    <aside class="subtitle">Support us!</aside>
    <h2>Our Sponsors</h2>

    {{ brochures(lang) }}

    {{ sponsors(lang, only_logo=True) }}

    <section class="contact-sponsor">
      <p>
        The team is available to answer your questions about the event
        at <a href="mailto:contact@pycon.fr">contact@pycon.fr</a>
      </p>
    </section>
  </article>
{% endblock content %}
