{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Venue</h2>
    <section>
      <h3>Address</h3>
      <p>
        PyConFR 2026 is held at <a href="https://www.estia.fr/en/estia-engineering-school/">ESTIA</a> in Biarritz.
      </p>
      <address><strong>ESTIA engineering school</strong>
        ESTIA BERRI​
        Site technopolitain Izarbel​
        90 Allée Fauste d’Elhuyar​
        64210 BIDART - FRANCE
      </address>
      <p>
        GPS coordinates: <a href="https://framacarte.org/fr/map/pyconfr-2026_232282">43.446287 -1.552822</a>
      </p>
      {{ map('Fullscreen') }}
    </section>

    <section>
      <h3>Visa</h3>

      <h4>Check if You Need a Visa</h4>
      <p>
        If you plan to attend PyConFR 2026 in Biarritz, please check
        if you need a visa to enter France and apply as early as
        possible.
      </p>
      <p>
        France is part of the Schengen area. If you already have a
        valid Schengen visa, you do not need to apply for an
        additional one. <strong>If in doubt, please contact your consulate or embassy</strong>.
      </p>
      <p>
        You can also visit the <a href="https://france-visas.gouv.fr/en/web/france-visas/visa-wizard">France Visas website</a> to
        check if you need a visa.
      </p>

      <h4>Invitation Letter</h4>
      <p>
        If you need a visa, we can provide an invitation letter for your application.
      </p>
      <p>
        Invitation letter requests should be sent via email to <a href="mailto:secretaire@afpy.org">secretaire@afpy.org</a>. Please include the following information in your request:
      </p>
      <ul>
        <li>Title (Mr./Ms.),</li>
        <li>Full name,</li>
        <li>Date of birth,</li>
        <li>Nationality,</li>
        <li>Passport number,</li>
        <li>Title of your presentation at the event (if applicable),</li>
        <li>Amount of the grant provided by AFPy (if applicable),</li>
        <li>Name of the sponsoring company you represent (if applicable).</li>
      </ul>
    </section>

    <section>
      <h3>Getting to the Campus</h3>

      <section>
        <h4>By Public Transport</h4>

        <p>
          The school is located on Izarbel technopole which is served <a href="https://storage.googleapis.com/is-wp-93-prod/uploads-prod/2025/11/FH_L8.pdf">by bus (Txik Txak) line 8</a>.
        </p>

      </section>

      <section>
        <h4>By Train</h4>

        <p>
          The closest train station is Biarritz one, linked to Bordeaux TGV (high-speed train) station and then to the main French lines.
        </p>

        <p>
          From Biarritz train station, you can take bus line 8 to Izarbel stop to get to the school in about 20 minutes.
        </p>
      </section>

      <section>
        <h4>By Coach</h4>

        <p>
          Biarritz is directly reachable from dozens of towns in France and Europe by <a href="https://global.flixbus.com/bus/biarritz">FlixBus Coach</a>.
        </p>

      </section>

      <section>
        <h4>By Car</h4>

        <p>
          Izarbel technopole is close to A63 highway, next to exit nulmber 4.
        </p>

        <p>
          You're coming by car and you have room? Consider carsharing :).
        </p>
      </section>

      <section>
        <h4>By Plane</h4>

        <p>
          From Biarritz airport, you can take bus line 8 to Izarbel stop to get to the school in about 15 minutes.
        </p>
      </section>
    </section>
  </article>
{% endblock content %}
