{% extends '_layout.jinja2' %}

{% block content %}
  <article class="coverboard">
    <h2>Bienvenue à la PyConFR 2026 !</h2>

    <aside>
      <span>17</span><sup>e</sup> édition
    </aside>

    <p class="pycon-date">Du 29 octobre au 1<sup>er</sup> novembre 2026 à Biarritz</p>

    <p>
      Organisée par <a href="https://www.afpy.org">l'AFPy</a>, cette conférence de quatre
      jours est gratuite, entièrement gérée par des bénévoles et dédiée
      au regroupement des personnes intéressées par le langage de
      programmation <a href="https://www.python.org/">Python</a>.
    </p>
  </article>
  <p><small>Photo par <a href="https://commons.wikimedia.org/wiki/File:Vue_sur_la_Villa_Belza_et_la_chaine_pyr%C3%A9n%C3%A9enne.jpg">Arno8892</a> sous licence CC-BY-SA.</small></p>

  <article class="place">
    <h2>Venir</h2>

    <section>
      <img src="{{ url_for('static', filename='images/partners/estia.png') }}" alt=""/>
      <address><strong>École d’ingénieurs ESTIA</strong>
        ESTIA BERRI​
        Site technopolitain Izarbel​
        90 Allée Fauste d’Elhuyar​
        64210 BIDART - FRANCE
      </address>
      <ul class="buttons">
        <li>
          <a href="{{ url_for('page', name='venue', lang=lang) }}">
            Plus de détails
          </a>
        </li>
      </ul>
    </section>

    <section>
      {{ map() }}
    </section>
  </article>

  <article class="afpy">
    <h2>AFPy, Association Francophone Python</h2>

    <ul class="buttons">
      <li>
        <a href="https://www.afpy.org">Notre site web</a>
      </li>
    </ul>

    <section>
      <h3>
        L’AFPy promeut le langage Python, que ce soit auprès d’un public
        averti ou débutant.
      </h3>
      <p>
        Nous assurons la promotion du langage de programmation Python auprès du
        plus large public possible.
      </p>
      <p>
        Nous diffusons nos connaissances et sommes ouverts aux apports
        extérieurs.
      </p>
      <p>
        La solidarité et la démocratie élargissent les horizons et accroissent
        le potentiel de chacun.
      </p>
    </section>
  </article>

  <article class="become-sponsor">
    <aside class="subtitle">Soutenez-nous !</aside>
    <h2>Devenez Sponsors !</h2>

    {{ brochures(lang) }}

    {{ sponsors(lang, only_logo=True) }}

    <section class="contact-sponsor">
      <p>
        L'équipe est disponible pour répondre à vos questions sur
        l'événement à l'adresse <a href="mailto:contact@pycon.fr">contact@pycon.fr</a>
      </p>
    </section>
  </article>
{% endblock content %}
