{% extends '_layout.jinja2' %}

{% block content %}
  <article class="coverboard">
    <h2>Bienvenue à la PyConFR 2026 !</h2>

    <aside>
      <span>17</span><sup>e</sup> édition
    </aside>

    <p class="pycon-date">À l'automne 2026</p>

    <p>
      Organisée par <a href="https://www.afpy.org">l'AFPy</a>, cette conférence de quatre
      jours est gratuite, entièrement gérée par des bénévoles et dédiée
      au regroupement des personnes intéressées par le langage de
      programmation <a href="https://www.python.org/">Python</a>.
    </p>
  </article>

  <article class="afpy">
    <h2>AFPy, Association Francophone Python</h2>

    <ul class="buttons">
      <li>
        <a href="https://www.afpy.org">Notre site web</a>
      </li>
    </ul>

    <section>
      <h3>
        L’AFPy promeut le langage Python, que ce soit auprès d’un public
        averti ou débutant.
      </h3>
      <p>
        Nous assurons la promotion du langage de programmation Python auprès du
        plus large public possible.
      </p>
      <p>
        Nous diffusons nos connaissances et sommes ouverts aux apports
        extérieurs.
      </p>
      <p>
        La solidarité et la démocratie élargissent les horizons et accroissent
        le potentiel de chacun.
      </p>
    </section>
  </article>

  <article class="become-sponsor">
    <aside class="subtitle">Soutenez-nous !</aside>
    <h2>Devenez Sponsors !</h2>

    {{ brochures(lang) }}

    {{ sponsors(lang, only_logo=True) }}

    <section class="contact-sponsor">
      <p>
        L'équipe est disponible pour répondre à vos questions sur
        l'événement à l'adresse <a href="mailto:contact@pycon.fr">contact@pycon.fr</a>
      </p>
    </section>
  </article>
{% endblock content %}
