{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Actualités</h2>

    
    <section>
      <h3>Ouverture du CFP</h3>

      <p>
        Le <a href="https://cfp.pycon.fr/pyconfr-2026/cfp">CFP (Call For Proposal)</a> de la PyConFR 2026 est ouvert !
      </p>

      <p>
        Le CFP vous permet de proposer vos sujets pour les sprints,
        les conférences et les ateliers.

      </p>

      <p>
        <strong>Vous pouvez soumettre vos propositions jusqu’au 31 juillet 2026</strong>.


        À l’issue de la période d’ouverture, les membres du Comité
        Directeur de l’AFPy examineront toutes les propositions et le
        planning pourra être fait !

      </p>

      <p>
        Vous pouvez proposer des sujets en français ou en anglais.
        L’AFPy promouvant le langage Python auprès du communauté
        francophone, nous tenons à garder une majorité du programme en
        français (~75/80%).

      </p>

    </section>

    <section>
      <h3>PyConFR 2026</h3>
      <p>
        L'édition 2026 de la conférence sur Python de la communauté francophone se
        tiendra à Biarritz du 29 octobre au 1<sup>et</sup> novembre 2026.
      </p>

      <p>
        Les deux premiers jours sont réservés à des séances de développement
        participatif. Les développeurs et développeuses de différents projets
        <em>open source</em> se rejoignent pour coder ensemble. Chaque personne
        est la bienvenue pour contribuer, et nous cherchons également à
        accompagner les débutant·e·s. Nous fournissons l'espace et le matériel
        nécessaire à l'organisation (tables, chaises, connexion internet…). Les
        projets présents seront annoncés sur notre site au fur et à mesure de
        leur inscription.
      </p>

      <p>
        Les deux derniers jours sont consacrés à des conférences. Vous aurez
        l'occasion de participer à des présentations sur des sujets variés,
        autour du langage Python, de ses usages, des bonnes pratiques, des
        retours d'expériences, des partages d'idées… Un appel à présentation sera
        également lancé d'ici quelque temps.
      </p>

      <p>
        Cet événement est hébergé par l'ESTIA. Merci pour leur
        chaleureux accueil :).
      </p>

      <p>
        Nous demandons à chaque personne souhaitant venir de lire le
        <a href="{{url_for('page', name='conduct', lang=lang) }}">code de conduite</a>.
        Nous souhaitons faire en sorte que cette conférence soit un
        événement accueillant pour tout le monde. Le groupe de travail de l'AFPy
        se mobilise pour faire que chacun·e se sente bien durant la
        conférence. Nous vous annoncerons les actions.
      </p>

      <p>
        Si vous souhaitez déjà organiser votre venue, nous vous avons préparé la page
        <a href="{{ url_for('page', name='venue', lang=lang) }}">Venir</a>.
      </p>

      <p>
        Nous vous réservons plusieurs autres annonces pour les semaines à venir, alors
        suivez-nous sur <a href="https://mamot.fr/@AFPy">Mastodon</a>.
      </p>

      <p>
        Venez discuter avec nous sur notre <a href="https://www.afpy.org/discord">Discord</a> ou notre <a href="https://discuss.afpy.org/">Discourse</a>.
      </p>
    </section>
  </article>
{% endblock content %}
