{% extends '_layout.jinja2' %}

{% block content %}
  <article>
    <h2>Venir</h2>
    <section>
      <h3>Adresse</h3>
      <p>
        PyConFR 2026 est hébergée
        par l´<a href="https://www.estia.fr/ecole-ingenieurs-estia/">ESTIA</a> à Biarritz.
      </p>
      <address><strong>École d’ingénieurs ESTIA</strong>
        ESTIA BERRI​
        Site technopolitain Izarbel​
        90 Allée Fauste d’Elhuyar​
        64210 BIDART - FRANCE
      </address>
      <p>
        Coordonnées GPS : <a href="https://framacarte.org/fr/map/pyconfr-2026_232282">43.446287 -1.552822</a>
      </p>
      {{ map('Voir en plein écran') }}
    </section>

    <section>
      <h3>Visa</h3>

      <h4>Savoir si vous avez besoin d’un visa</h4>
      <p>
        Si vous souhaitez venir à la PyConFR 2026 à Biarritz,
        vérifiez si vous avez besoin d’un visa pour entrer en France
        et faites-en la demande le plus tôt possible.
      </p>
      <p>
        La France fait partie de l’espace Schengen. Si vous avez déjà
        un visa Schengen valide, vous n’avez pas besoin de faire de
        demande supplémentaire. <strong>N’hésitez pas à vous rapprocher de
        votre consulat ou ambassade en cas de doute</strong>.
      </p>
      <p>
        Vous pouvez également consulter le <a href="https://france-visas.gouv.fr/web/france-visas/assistant-visa">site France Visas</a> afin de
        savoir si vous avez besoin d’un visa ou non.
      </p>

      <h4>Lettre d’invitation</h4>
      <p>
        Dans le cas où vous auriez besoin d’un visa, nous pouvons vous
        transmettre une lettre d’invitation pour votre demande.
      </p>
      <p>
        Les demandes de lettre d’invitation doivent être faites par mail <a href="mailto:secretaire@afpy.org">secretaire@afpy.org</a>.
        Merci d’inclure les informations suivantes dans votre demande :
      </p>
      <ul>
        <li>Civilité,</li>
        <li>Nom et prénom,</li>
        <li>Date de naissance,</li>
        <li>Nationalité,</li>
        <li>Numéro de passeport,</li>
        <li>Titre de votre présentation à l’évènement (si applicable),</li>
        <li>Montant de la bourse accordée par l’AFPy (si applicable),</li>
        <li>Nom de l’entreprise sponsor que vous représentez (si applicable).</li>
      </ul>
    </section>

    <section>
      <h3>Rejoindre le campus</h3>

      <section>
        <h4>En transports en commun</h4>

        <p>
          Le campus se situe sur le technopôle Izarbel et est notamment desservi par les lignes
          <a href="https://storage.googleapis.com/is-wp-93-prod/uploads-prod/2026/06/FH_21_ETE_26.pdf">21</a> et
          <a href="https://storage.googleapis.com/is-wp-93-prod/uploads-prod/2025/11/FH_L8.pdf">8</a> du réseau de bus
          <a href="https://www.txiktxak.fr/">Txik Txak</a> (les fiches horaires sont données à titre indicatif mais ne seront pas celles en vigueur pour les dates en question).
        </p>

      </section>

      <section>
        <h4>En train</h4>

        <p>
          Le campus se trouve à proximité de la gare de Biarritz, elle-même reliée à la gare TGV de Bordeaux et ainsi aux grandes lignes françaises.
        </p>

        <p>
          Depuis la gare de Biarritz, il est possible de prendre le bus 8 ou 21 jusqu'à l'arrêt Izarbel (technopôle) pour rejoindre le campus en une vingtaine de minutes.
        </p>
      </section>

      <section>
        <h4>En Car</h4>

        <p>
          Biarritz est accessible en <a href="https://www.flixbus.fr/bus/biarritz">car FlixBus</a> depuis des douzaines de villes en France et en Europe.
        </p>

      </section>

      <section>
        <h4>En voiture</h4>

        <p>
          Le technopôle Izarbel se situe à proximité directe de l'autoroute A63, au niveau de la sortie 4.
        </p>

        <p>
          Vous venez en voiture, il vous reste de la place ? Pensez au covoiturage :).
        </p>
      </section>

      <section>
        <h4>En avion</h4>

        <p>
          Depuis l'aéroport de Biarritz, il est possible de prendre le bus 8 ou 21 jusqu'à l'arrêt Izarbel (technopôle) pour rejoindre le campus en une quinzaine de minutes.
        </p>
      </section>
    </section>
    <section>
      <h3>Conseils pour le logement</h3>

      <p>
        L'emplacement idéal pour se loger se trouve sur le technopôle Izarbel ou autour de la gare de Biarritz (3km du campus et 3km du centre-ville de Biarritz).
      </p>

      <p>
        L'école qui nous accueille (ESTIA) propose des partenariats sous conditions avec différents hôtels alentours :
      </p>

      <ul>
          <li><a href="https://www.fasthotel.com/aquitaine/hotel-biarritz"><b>Fasthôtel Biarritz Bidart Côte Basque</b></a> (1km du campus), chambres à partir de 80€ la nuit : 15% de réduction avec le code <code>ESTIA</code>.</li>
          <li><a href="https://kalikobidart.com">Hôtel <b>Kaliko Bidart</b></a> (5km du campus), chambres à partir de 85€ la nuit avec le code <code>ESTIA 2026</code>.</li>
          <li><a href="https://www.hoteljulesvernebiarritz.com">Hôtel <b>Jules Verne Biarritz</b></a> (5km du campus), à partir de 80€ la nuit.</li>
          <li><a href="https://www.kemaris.fr">Hôtel <b>Kemaris Biarritz</b></a> (5km du campus), à partir de 120€ la nuit.</li>
      </ul>
    </section>
  </article>
{% endblock content %}
